.greeting {
    height: 58px;
    font-size: 50px;
    font-family: ZCOOLxingliti;
    font-weight: 400;
    line-height: 58px;
    color: rgba(251, 249, 249, 1);
    position: absolute;
    top: 300px;
    left: 200px;
}

.bg {
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
}

.id {
    position: absolute;
    z-index: 1;
    top: 443px;
    left: 150px;
    width: 450px;
    height: 81px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(112, 112, 112, 1);
    opacity: 1;
    border-radius: 15px;
    font-size: 30px;
    font-family: PingFang SC;
    font-weight: 400;
    line-height: 42px;
    color: rgba(3, 8, 26, 1);
    opacity: 1;
    padding-left: 20px;
    letter-spacing: 5px;
}

.password {
    position: absolute;
    z-index: 1;
    top: 538px;
    left: 150px;
    width: 450px;
    height: 81px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(112, 112, 112, 1);
    opacity: 1;
    border-radius: 15px;
    font-size: 30px;
    font-family: PingFang SC;
    font-weight: 400;
    line-height: 42px;
    color: rgba(3, 8, 26, 1);
    opacity: 1;
    padding-left: 20px;
    letter-spacing: 5px;
}

.view {
    width: 32px;
    height: 24px;
    position: absolute;
    z-index: 1;
    right: 150px;
    top: 569px;
}

.login {
    width: 184px;
    height: 68px;
    background: rgba(255, 255, 255, 0.31);
    border: 1px solid rgba(112, 112, 112, 0.31);
    border-radius: 15px;
    font-size: 30px;
    font-family: PingFang SC;
    font-weight: 400;
    line-height: 68px;
    color: rgba(244, 243, 254, 1);
    position: absolute;
    top: 640px;
    left: 283px;
}

.content {
    position: absolute;
    top: 720px;
    left: 190px;
    text-align: center;
}

.cir {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid white;
    display: inline-block;
    position: relative;
    top: 5px;
}

.text {
    display: inline-block;
    padding-left: 10px;
    font-size: 20px;
    font-family: Segoe UI;
    font-weight: 400;
    line-height: 27px;
    color: rgba(142, 213, 254, 1);
}

.point {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: white;
    position: relative;
    top: 5px;
    left: 5px;
}

// loading animate
.loading {
    position: absolute;
    margin: 10px;
    right: 0;
    border: 7px solid rgb(107, 151, 192);
    border-bottom-color: rgba(0, 0, 0, 0);
    border-radius: 50%;
    height: 30px;
    width: 30px;
    animation: span-c 1s linear infinite;
    -webkit-animation: span-c 1s linear infinite;
    z-index: 3;
}

@keyframes span-c {
    100% {
        transform: rotate(1turn);
    }
}

.footer {
    position: fixed;
    bottom: 0;
    left: 220px;
    font-size: 25px;
}

.text1 {
    color: white;
    display: inline-block;
    border-right: 2px solid gray;
    padding-right: 20px;
}

.text2 {
    color: white;
    padding-left: 20px;
    display: inline-block;
}