    .cardContainer {
        margin: 0 auto;
    }
    
    .card {
        width: 550px;
        height: 807px;
        background: rgba(255, 255, 255, 1);
        border: 1px solid rgba(112, 112, 112, 1);
        opacity: 1;
        border-radius: 10px;
        position: absolute;
        left: 100px;
        top: 210px;
        display: flex;
        align-items: center;
    }
    
    .cardText {
        margin: 0 auto;
        width: 503px;
        height: 752px;
        border: 1px solid rgba(146, 139, 208, 1);
        opacity: 1;
        border-radius: 10px;
        overflow: scroll;
    }
    
    .Text {
        margin: 0 auto;
        width: 386px;
        padding: 20px;
        font-size: 20px;
        font-family: Segoe UI;
        font-weight: 400;
        line-height: 27px;
        color: rgba(112, 112, 112, 1);
        opacity: 1;
        padding-top: 40px;
    }
    
    .strong {
        font-weight: bold;
        ;
    }
    
    .color {
        color: red;
    }
    
    .close {
        width: 44px;
        height: 44px;
        position: relative;
        float: right;
        top: 5px;
        right: 5px;
    }