.blank-container{
  text-align: center;
}
.sun{
  width: 687px;
  height: 687px;
  margin-top: 68px;
}
.blank-word{
  height:40px;
  font-size:28px;
  font-family:PingFang SC;
  font-weight:400;
  line-height:40px;
  color:rgba(147,147,147,1);
  opacity:1;
  margin-top: -128px;
}