.cardContainer {
    margin: 80px auto;
}

.card {
    width: 661px;
    height: 945px;
    background: rgba(91, 125, 139, 0.98);
    border-radius: 15px;
    margin: 0 auto;
}

.text {
    padding-top: 50px;
    margin: 0 auto;
    text-align: center;
    width: 560px;
    height: 259px;
    font-size: 28px;
    font-family: Segoe UI;
    font-weight: 400;
    line-height: 37px;
    color: rgba(255, 255, 255, 1);
}

.allReplies {
    width: 100px;
    height: 36px;
    font-size: 25px;
    font-family: PingFang SC;
    font-weight: 400;
    line-height: 34px;
    color: rgba(255, 255, 255, 1);
    margin: 125px 10px 10px 37px;
    display: inline-block;
}

.replyContainer {
    max-height: 438px;
    overflow: scroll;
    overflow-x: hidden;
}

.commentButton {
    display: inline-block;
    margin: 100px 10px 10px 450px;
    position: relative;
    top: 10px;
}

.comment {
    width: 29px;
    height: 26px;
}

.none {
    margin-top: 20px;
    text-align: center;
    font-size: 25px;
    font-family: PingFang SC;
    font-weight: 400;
    color: rgba(245, 245, 245, 1);
}

.report {
    width: 30px;
    height: 30px;
    position: relative;
    right: -615px;
}