.CardContainer {
    margin: 0 auto;
}

.card {
    margin: 0 auto;
    width: 661px;
    height: 306px;
    border-radius: 15px;
    z-index: 2;
    opacity: 1;
}

.text {
    margin: 20px auto;
    padding-top: 20px;
    width: 560px;
    height: 222px;
    font-size: 28px;
    font-family: Segoe UI;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    opacity: 1;
}