.all {
    background-color: #04040F;
    height: 100%;
    width: 750px;
}

.header {
    width: 750px;
    height: 85px;
    background: rgba(17, 23, 36, 1);
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
}

.head {
    width: 120px;
    height: 42px;
    font-size: 30px;
    font-family: PingFang SC;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
}

.notification {
    width: 40px;
    height: 40px;
    position: fixed;
    right: 35px;
    top: 20px;
}

.headerSpace {
    width: 750px;
    height: 85px;
    background: #04040F;
}

.footerSpace {
    width: 750px;
    height: 100px;
    background: #04040F;
}