.cards-container{
  margin: 0 auto;
  width: 730px;
  text-align: start;
  font-family:PingFang SC;
  font-weight:400;
}
//--------------------------
.share{
  height: 122px;
  width: 122px;
}
.share-container{
  position: absolute;
  right: 85px;
  bottom: 123px;
}
//--------------------------
.refresh-con{
  width: 100%;
  height: 175px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.scroll-contain{
  width: 100%;
  position: absolute;
  left: 0px;
  top: 134px;
  margin: 0;
}