.header{
  text-align: center;
  height: 80px;
  line-height: 80px;
  font-size:34px;
  font-family:PingFang SC;
  font-weight:400;
  color:rgba(0,0,0,1);
  opacity:1;
}
.share-button{
  position: absolute;
  top:20px;
  right:34px;
  height:45px;
  font-size:32px;
  font-family:PingFang SC;
  font-weight:400;
  line-height:45px;
  margin: 0;
  opacity:1;
}
.disable{
  color:rgba(249,193,112,0.5);
}
.able{
  color:rgb(255, 149, 0);
}
.title{
  height:45px;
  line-height:45px;
  color:rgba(110,110,110,1);
  opacity:1;
  margin: 28px 30px;
  font-size:32px;
  font-family:PingFang SC;
  font-weight:400;
}
.place-title{
  font-size:32px;
  font-family:PingFang SC;
  font-weight:400;
}
.body-container{
  padding: 22px 30px;
  background-color: #F3F3F3;
  height: 610px;
}
.content{
  background-color: #F3F3F3;
  font-size: 28px;
  width: 100%;
}
.place-content{
  font-size: 28px;
}
.fake-text{
  font-size:28px;
  font-family:PingFang SC;
  font-weight:400;
  line-height:40px;
  color:rgba(110,110,110,1);
  opacity:1;  
}
.add-container{
  margin: 85px 79px;
}
.add-tag{
  width:228px;
  height:84px;
  line-height: 84px;
  text-align: center;
  float: right;
  background:rgba(255,191,160,1);
  box-shadow:0px 3px 6px rgba(0,0,0,0.16);
  opacity:1;
  border-radius:40px;
}
.plus{
  font-size:40px;
  font-family:PingFang SC;
  font-weight:400;
  color:white;
  opacity: 1;
}
.tag-words{
  font-size:32px;
  font-family:PingFang SC;
  font-weight:400;
  color:rgba(110,110,110,1);
  opacity:1;
}
.loading{
  position: absolute;
  top: 25px;
  right: 155px;
  border: 7px solid rgb(255, 149, 0); 
  border-bottom-color: rgba(0,0,0,0);
  border-radius: 50%;
  height: 25px;
  width: 25px;
  animation: span-c 1s linear infinite;
  -webkit-animation: span-c 1s linear infinite;
  z-index:3
}

@keyframes span-c {
100% {transform: rotate(1turn)}
}